.content-column {
    padding-top: 15px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-column .card {
    flex-basis: 350px;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 15px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 #222222;
    border-radius: 5px;
    margin: 10px;
    transition: .3s;
}

.content-column .card:hover {
    opacity: 75%;
}

.content-column .card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
}

.content-column .card .title h3 {
    text-align: end;
    font-size: 1rem;
    font-weight: 400;
}

.content-column .card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.content-column h2 {
    font-weight: 400;
    font-size: 1rem;
}

.content-column h3 {
    font-size: 0.70rem;
}

@media (max-width: 786px) {
    .content-column .card .title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content-column .card .title h3 {
        text-align: center;
    }
}