header {
    height: 650px;
    position: relative;
    border-bottom: 8px solid #222222;
}

header .img-wrapper {
    position: absolute;
    top: -100px;
    z-index: 0;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
}

header .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header .img-wrapper .concord-img-gradient {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
}

header .container {
    position: relative;
    top: 150px;
    width: 100%;
    padding: 15px 35px;
    margin: 0 auto;
    max-width: 1450px;
    color: #ffffff;
}

header .container h1,
header .container .info,
header .container .actions,
header .container p {
    /* margin: 0 auto; */
    max-width: 500px;
}

header .container h1 {
    font-size: 4rem;
}

header .container .info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header .container .info h3 {
    opacity: 75%;
    margin: 10px 0;
}

header .container .info h3:nth-of-type(2) {
    border: 2px solid #ffffffbf;
    border-radius: 5px;
    padding: 2px 5px;
}

header .container .info span {
    height: 30px;
    width: 2px;
    margin: 0 10px;
    background: #ffffffbf;
}

header .container p {
    font-size: 1rem;
}

@media (max-width: 478px) {

    header .container {
        text-align: center;
    }

    header .container h1 {
        font-size: 2.5rem;
    }

    header .container p {
        font-size: 0.95rem;
    }

    header .container .info {
        justify-content: center;
    }

    header .container .info h3 {
        font-size: 1rem;
    }

}